/src
/specs
/node_modules
/out
/.vscode
/test
/nodemon.json
/tsconfig.json
/.gitignore
/.editorconfig
/.prettierrc
/package-lock.json
/.idea
/tslint.json
/.eslintignore
/.eslintrc.json
.travis.yml
/tsconfig.build.json
/tsconfig.test.json
